* {
  margin: 0;
  padding:0;
}

#title {
  padding-left: 25px;
}

#nav-bar {
  position: fixed;
  top: 0;
  width: 100%;

}

#cards {
  margin: 20px 20px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 39px;
  background: url("../images/Background.jpg") no-repeat center center fixed;
  background-repeat: no-repeat;
  background-position: center center;
}

p > img {
  height: 22.5rem;
  width: 18rem;
  padding: 10px 10px;
  overflow: hidden;
}

