* {
  margin: 0;
  padding:0;
}

#nav-bar {
  position: fixed;
  top: 0;
  width: 100%;

}

#cards {
  margin-top: 40px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 39px;
  background: url("../images/Background.jpg") no-repeat center center fixed;
  background-repeat: no-repeat;
  background-position: center center;
}

.img {
  height: 500px;
  width: 500px;
}

p > img {
  height: 22.5rem;
  width: 18rem;
}

