body {
    height: 50%;

}

.hero {
    position: relative;
    content: "";
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../images/background.jpg") no-repeat center center fixed;
    background-repeat: no-repeat;
    background-position: center center;
    top: 0;
    left: 0;
    background-size: cover;
    
 }


 .hero-content {
    position: relative;
 }
