
body {

    height: 50%;

}

#title {
    padding-left: 25px;
}

.hero {
    position: relative;
    content: "";
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("../images/Background.jpg") no-repeat center center fixed;
    background-repeat: no-repeat;
    background-position: center center;
    top: 0;
    left: 0;
    background-size: cover;
    
 }

 #info {
    margin: 20px;
    background-color: rgb(248,249,250);
    padding: 12px;
    border-radius: 2.5px;
 }

 .hero-content {
    position: relative;
 }

